      <aside class="copyright">
        <h2>
        &copy; 2020
        {{ site.title }}
        </h2>
        <p >
          powered by
          <br/>
          <a href="https://photon-platform.net">photon PLATFORM</a>
        </p>
        <p >
          developed by
          <br/>
          <a href="https://phiarchitect.com">phi ARCHITECT</a>
        </p>
      </aside>
