      <aside class="org">
        <p>Gerdemann Garden</p>
        <p>Yachats, OR 97498</p>
        <!-- <p>541-563-3872</p> -->
        <!-- <p><%- config.organization.address.streetAddress %></p> -->
        <!-- <p><%- config.organization.address.addressLocality %>, <%- config.organization.address.addressRegion %> <%- config.organization.address.postalCode %></p> -->
        <!-- <p><%- config.organization.telephone %></p> -->
      </aside>
