<!DOCTYPE html>
<html lang="en">
{% block template %}
{% if config.system.debugger.enabled %}
<!-- params: {{ grav.uri.params() }} -->
<!-- query: {{ grav.uri.query() }} -->
<!-- user/themes/photon/templates/default.html.twig -->
{% endif %}
{% endblock %}
{% include '_site/head.html.twig' %}
  <body class="{% block body_template_classes %}{% endblock body_template_classes %}{% if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}">

{% block header %}
{% include '_sections/header.html.twig' %}
{% endblock header %}
{% block showcase %}{% endblock %}
{% block featured %}{% endblock featured %}

{% block main %}
    <main>
{% block content %}
{% include [
        "_articles/#{ page.template }.html.twig",
        "_articles/article.html.twig"
      ] with { 'article': page } %}
{% endblock content %}
    </main>
{% endblock main %}

{% block asides %}
{% include '_sections/asides.html.twig' %}
{% endblock asides %}

{% block footer %}
{% include '_sections/footer.html.twig' %}
{% endblock footer %}

{% block bottom %}
{{ assets.js('bottom') }}
{% endblock %}

  </body>
</html>
