        <div class="content">
{% if article.summary %}
          <div class="summary">
            {{ article.summary }}
          </div>
{% endif %}
          {{ article.content | slice(article.summary | length) }}
{% for module in page.collection('modules') %}
          {{ module.content }}
{% endfor %}
        </div>
