        <footer>
{% include '_articles/_block/article_footer/aside_categories.html.twig' %}
{% include '_articles/_block/article_footer/aside_tags.html.twig' %}
          <nav class="more">
            <a  href="{{ article.url }}">More ></a>
          </nav>
{% include '_articles/_block/article_footer/aside_share.html.twig' %}
        </footer>
