/* color *****************************/
@import 'mixins';

:root {
  --hue-key: 215;
  --hue-1: 44;
  --hue-2: 111;

  --sat: 40%;

  --lighter: 90%;
  --light:   70%;
  --mid:     50%;
  --dark:    30%;
  --darker:  10%;
  
  --color-key-lighter: #{"hsl( var(--hue-key), var(--sat), var(--lighter) )"};
  --color-key-light:   #{"hsl( var(--hue-key), var(--sat), var(--light) )"};
  --color-key:         #{"hsl( var(--hue-key), var(--sat), var(--mid) )"};
  --color-key-dark:    #{"hsl( var(--hue-key), var(--sat), var(--dark) )"};
  --color-key-darker:  #{"hsl( var(--hue-key), var(--sat), var(--darker) )"};

  --color-1-lighter:   #{"hsl( var(--hue-1), var(--sat), var(--lighter) )"};
  --color-1-light:     #{"hsl( var(--hue-1), var(--sat), var(--light) )"};
  --color-1:           #{"hsl( var(--hue-1), var(--sat), var(--mid) )"};
  --color-1-dark:      #{"hsl( var(--hue-1), var(--sat), var(--dark) )"};
  --color-1-darker:    #{"hsl( var(--hue-1), var(--sat), var(--darker) )"};

  --color-2-lighter:   #{"hsl( var(--hue-2), var(--sat), var(--lighter) )"};
  --color-2-light:     #{"hsl( var(--hue-2), var(--sat), var(--light) )"};
  --color-2:           #{"hsl( var(--hue-2), var(--sat), var(--mid) )"};
  --color-2-dark:      #{"hsl( var(--hue-2), var(--sat), var(--dark) )"};
  --color-2-darker:    #{"hsl( var(--hue-2), var(--sat), var(--darker) )"};
}
