{% set options = { items: {'@page.descendants': article.url }, 'limit': 0, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } %}
{% set self_descendents = page.collection(options) %}
{% set featured_pages = [] %}
{% for p in self_descendents %}
{%   for tag in p.taxonomy.photon %}
{%     if tag == 'featured' %}
{%       set featured_pages = featured_pages|merge( [ p ] ) %}
{%     endif %}
{%   endfor %}
{% endfor %}
{% if featured_pages %}
          <aside class="featured-list">
            <h2>Featured Pages</h2>
{%   for p in featured_pages %}
              <a  href="{{ p.url }}">{{ p.title }}</a>
{%   endfor %}
          </aside>
{% endif %}
