// define all defaults within the HTML element

html {

  height: 100%;
  max-width: 100%;

  color: var(--color);
  background: var(--color-key-dark);

  font-family: var(--font);
  font-weight: 400;
  line-height: 1.35;
  text-align: left;

}
