article.excerpt {
  // cursor: pointer;
  // transition: 
      // box-shadow .5s, 
      // background .5s,
      // color .5s;
  padding: var(--fitz-2);
  margin: var(--fitz);

  > * {
  }

  > header {
    > h1 {
    }

    .meta {
      font-size: 0.8em;
      display: flex;
      gap: 1em;

      .category, .tags, .date {
        font-weight: bold;
      }

      .tags a {
        font-weight: normal;
        text-decoration: none;
        margin-right: 0.5em;
      }
    }
  }

  > figure {
  }

  .article-share {
    display: none;
  }

  .more {
    align-self: flex-end;
  }

  // &:hover {
    // --bg: var(--color-key-lighter);
    // color: black;
    // box-shadow: .25em .25em .25em rgba(0,0,0,.4);

    // .more {
    // }

    // a:hover {
    // }
  // }

}
