.wy-menu-vertical ul li.toctree-l2 a {
    padding-left: 2.4em;
}

.wy-menu-vertical ul li.toctree-l3 a {
    padding-left: 3.6em;
}

.wy-menu-vertical ul li.toctree-l4 a {
    padding-left: 4.8em;
}
