@charset "UTF-8";
/* photon ✴ Theme Components and Templates */
/* fonts *****************************/
@font-face {
  font-family: "photon-icon";
  src: url("../fonts/photon-icon/photon-icon.woff2") format("woff2"), url("../fonts/photon-icon/photon-icon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Light"), url("../fonts/Fira_Sans/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Light Italic"), url("../fonts/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular"), url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular Italic"), url("../fonts/Fira_Sans/FiraSans-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium"), url("../fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium Italic"), url("../fonts/Fira_Sans/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), url("../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold Italic"), url("../fonts/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Light"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Light Italic"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Regular"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Regular Italic"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Medium"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Medium Italic"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Bold"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Condensed";
  src: local("Fira Sans Condensed Bold Italic"), url("../fonts/Fira_Sans_Condensed/FiraSansCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Light"), url("../fonts/Fira_Code/static/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Regular"), url("../fonts/Fira_Code/static/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Medium"), url("../fonts/Fira_Code/static/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Bold"), url("../fonts/Fira_Code/static/FiraCode-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
  --font: "Fira Sans Condensed";
  --font-display: "Fira Sans";
  --font-code: "Fira Code";
  --font-form: var(--font);
  --font-icon: "photon-icon";
  --bullet: "✴";
}

/* color *****************************/
:root {
  --hue-key: 215;
  --hue-1: 44;
  --hue-2: 111;
  --sat: 40%;
  --lighter: 90%;
  --light: 70%;
  --mid: 50%;
  --dark: 30%;
  --darker: 10%;
  --color-key-lighter: hsl( var(--hue-key), var(--sat), var(--lighter) );
  --color-key-light: hsl( var(--hue-key), var(--sat), var(--light) );
  --color-key: hsl( var(--hue-key), var(--sat), var(--mid) );
  --color-key-dark: hsl( var(--hue-key), var(--sat), var(--dark) );
  --color-key-darker: hsl( var(--hue-key), var(--sat), var(--darker) );
  --color-1-lighter: hsl( var(--hue-1), var(--sat), var(--lighter) );
  --color-1-light: hsl( var(--hue-1), var(--sat), var(--light) );
  --color-1: hsl( var(--hue-1), var(--sat), var(--mid) );
  --color-1-dark: hsl( var(--hue-1), var(--sat), var(--dark) );
  --color-1-darker: hsl( var(--hue-1), var(--sat), var(--darker) );
  --color-2-lighter: hsl( var(--hue-2), var(--sat), var(--lighter) );
  --color-2-light: hsl( var(--hue-2), var(--sat), var(--light) );
  --color-2: hsl( var(--hue-2), var(--sat), var(--mid) );
  --color-2-dark: hsl( var(--hue-2), var(--sat), var(--dark) );
  --color-2-darker: hsl( var(--hue-2), var(--sat), var(--darker) );
}

:root {
  --fitz: .5em;
  --fitz-2: calc(var(--fitz) * 2);
  --fitz-half: calc(var(--fitz) / 2);
  --col: 18em;
  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
  --color: #333;
  --bg: hsla(255,100%,100%,.5);
}

/* base elements *****************************/
/* elements/reset *****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
}

/* elements/html *****************************/
html {
  height: 100%;
  max-width: 100%;
  color: var(--color);
  background: var(--color-key-dark);
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

/* elements/headings *****************************/
h4, h3, h2, h1 {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5;
  display: block;
}

/* elements/blocks *****************************/
p, div,
dl, dd, dt,
details, summary {
  display: block;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

dl {
  padding: var(--fitz-half);
  margin: var(--fitz-half);
  display: grid;
  grid-gap: var(--fitz-half);
  grid-template-columns: auto 1fr;
}
dl dt {
  font-weight: 700;
  grid-column: 1/2;
  text-align: right;
  padding-right: var(--fitz-half);
}
dl dt::after {
  content: ":";
}
dl dd {
  grid-column: 2/3;
}
hr {
  border-top: 1px solid var(--color-key);
}

/* elements/lists *****************************/
li, ol, ul {
  margin-left: 1em;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

li {
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

/* elements/blockquotes *****************************/
blockquote {
  display: block;
  padding: var(--fitz-2);
  border-left: 1px solid var(--color-key-dark);
}
blockquote > blockquote {
  font-style: italic;
}
blockquote p {
  position: relative;
  margin-bottom: 0;
  overflow: visible;
}

/* elements/code *****************************/
pre,
code,
kbd,
samp {
  padding: 0.1em 0.25em;
  font-family: var(--font-code);
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;
  border-radius: 0;
}

code {
  height: auto;
}
pre code {
  padding: 1em;
  display: block;
}

pre {
  display: block;
}

/* elements/a *****************************/
a {
  --color: var(--color-key);
  --bg: none;
  --a-active-color: var(--color-2-dark);
  color: var(--color);
  background: var(--bg);
  text-decoration: none;
}
a:link {
  color: var(--color);
}
a:visited {
  color: var(--color);
}
a:hover {
  --bg: var(--color-key-light);
  --color: #222;
}
a:hover::marker {
  background: var(--bg);
}
a:active {
  color: var(--a-active-color);
}

/* elements/inline *****************************/
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

em,
i {
  font-style: italic;
}

cite {
  font-style: italic;
}

mark {
  --bg: var(--color-key);
  background: var(--bg);
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small {
  line-height: 1;
  font-size: 0.8em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* elements/figure *****************************/
img {
  border-style: none;
  display: block;
}

figure {
  grid-area: figure;
  height: auto;
  display: block;
}
figure > img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
figure > figcaption {
  width: 100%;
}
/* elements/tables *****************************/
table {
  --border-color: var(--color-fg);
  max-width: 100%;
}

th,
td {
  padding: calc( var(--fitz) / 2 );
}

th {
  font-weight: 700;
  text-align: right;
}

/* elements/forms *****************************/
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font);
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0 1em 1em 1em;
  border: 5px solid #CC9;
  margin: 1em 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0 1em;
  font-weight: 700;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  outline-offset: -2px;
}

[hidden] {
  display: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
textarea {
  --bg: var(--color-key-lighter);
  display: block;
  padding: 0.4em;
  outline: 0 none;
  border: 1px solid var(--color);
  text-align: left;
  color: var(--color);
  background: var(--bg);
  appearance: none;
  width: 100%;
  max-width: 100%;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
textarea:focus {
  color: var(--color);
}
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=text]::placeholder,
textarea::placeholder {
  --color: var(--color-key-dark);
}

input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 0 none;
  border-radius: 0.5em;
  color: var(--color-key-lighter);
  background: var(--color-key);
  padding: 0.5em;
  margin: 0.5em 0;
  text-decoration: none;
}
select {
  height: 2.75em;
  margin: 0 0 2em;
  padding: 0.575em 2em 0.575em 1.125em;
  display: block;
  width: 100%;
  color: var(--color);
  border: 2px solid var(--color);
}

label {
  display: block;
  font-weight: bold;
  font-family: var(--font);
}

button {
  border: 0 none;
  border-radius: 0.5em;
  color: var(--color-key-lighter);
  background: var(--color-key);
  padding: 0.5em;
  margin: 0.5em;
  text-decoration: none;
}
button:hover {
  background: var(--color-key-light);
  text-decoration: none;
}

/* articles/article *****************************/
article {
  padding: var(--fitz-2);
  margin: var(--fitz);
  display: grid;
  grid-template-areas: " context  " " header " " figure " " content " " gallery " " footer ";
  grid-template-columns: auto;
}
article > * {
  padding: var(--fitz-2);
  margin: 0;
}
article > nav.context {
  grid-area: context;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
article > nav.context div {
  min-width: 4em;
}
article > nav.context a {
  --offset: 1.2em;
}
article > nav.context a.prev {
  justify-content: flex-start;
}
article > nav.context a.prev::before {
  padding-top: 0.1em;
  font-family: var(--font-icon);
  content: "<";
  text-align: left;
}
article > nav.context a.next {
  justify-content: flex-end;
  padding-left: var(--fitz);
  padding-right: var(--offset);
}
article > nav.context a.next::before {
  display: none;
}
article > nav.context a.next::after {
  padding-top: 0.1em;
  font-family: var(--font-icon);
  content: ">";
  width: var(--offset);
  margin-right: calc(var(--offset) * -1);
  display: inline-block;
  text-align: right;
}
article > nav.context .breadcrumbs {
  text-align: center;
}
article > nav.context .breadcrumbs a {
  display: block;
}
article > nav.context .breadcrumbs a::before {
  font-family: var(--font-icon);
  content: "^";
  padding: 0 0.25em;
}
article > figure {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
}
article > figure > img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-position: center;
}
article > figure.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
}
article > figure.modal > img {
  max-height: none;
}
article > header > h1 {
  font-size: 1.4em;
  line-height: 1;
}
article > header > h2 {
  font-variant: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin-top: var(--fitz-half);
}
article > header > h2 ~ h2 {
  margin-top: var(--fitz);
}
article > .content {
  grid-area: content;
}
article > .content > * + * {
  margin-top: var(--fitz);
}
article > .content > h1 {
  border-bottom: 1px solid var(--color-key);
  margin-bottom: var(--fitz-2);
}
article > .content > .summary {
  border-top: 1px solid var(--color-key);
  padding-top: var(--fitz-2);
  border-bottom: 1px solid var(--color-key);
  padding-bottom: var(--fitz-2);
  margin-bottom: var(--fitz-2);
  font-size: 1.1em;
}
article > .content > .summary ul, article > .content > .summary li {
  margin: var(--fitz);
}
article > .content a {
  display: inline;
}
article > .content > blockquote > blockquote {
  font-style: italic;
  list-style-type: "~";
  padding-top: 0.5em;
}
article > .content > blockquote > ul {
  font-style: italic;
  list-style-type: square;
  padding-top: 0.5em;
}
article > footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article > footer > aside ul, article > footer > aside li,
article > footer > nav ul,
article > footer > nav li {
  display: flex;
  flex-wrap: wrap;
}
article > footer > aside.article-categories a,
article > footer > nav.article-categories a {
  text-transform: uppercase;
}
article > footer > aside.article-tags a,
article > footer > nav.article-tags a {
  font-style: italic;
}
article > .gallery {
  grid-area: gallery;
  padding: var(--fitz);
}
article > .gallery > .panel {
  grid-area: panel;
  display: none;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
article > .gallery > .list {
  grid-area: list;
  display: flex;
  flex-flow: row wrap;
}
article > .gallery > .list > figure {
  flex-basis: 5em;
  padding: var(--fitz);
  overflow: hidden;
  height: 100%;
  min-height: 5em;
}
article > .gallery > .list > figure > img {
  height: 100%;
  min-height: 5em;
  object-fit: cover;
  object-position: center;
}
article > .gallery > .list > figure > figcaption {
  text-align: center;
}
article > .gallery.modal {
  position: fixed;
  z-index: 10;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-areas: " panel " " list ";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10em;
}
article > .gallery.modal > .panel {
  display: block;
}
article > .gallery.modal > .list {
  flex-wrap: nowrap;
}
article > .gallery.modal > .list > figure {
  flex-basis: auto;
}
article > .gallery.modal > .list > figure > img {
  width: 100%;
  object-fit: contain;
}
@media (min-width: 96em) {
  article {
    grid-template-areas: " header context " " content figure " " content gallery " " content footer ";
    grid-template-columns: auto var(--col);
  }
  article > footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
@media (min-width: 108em) {
  article {
    grid-template-columns: auto var(--col-2);
  }
}

article.excerpt {
  cursor: pointer;
  transition: box-shadow 0.5s, background 0.5s, color 0.5s;
}
article.excerpt .article-share {
  display: none;
}
article.excerpt .more {
  align-self: flex-end;
}
article.excerpt:hover {
  --bg: var(--color-key-lighter);
  color: black;
  box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.4);
}
/* asides *****************************/
/* asides/aside *****************************/
aside h1, aside h2, nav h1, nav h2 {
  font-size: 1.1em;
}
aside ul, nav ul {
  list-style: none;
}
aside > a, nav > a {
  display: block;
}
aside p, nav p {
  text-align: center;
  margin: var(--fitz-half);
  padding: var(--fitz-half);
}
aside.article-share ul, aside.follow ul, nav.article-share ul, nav.follow ul {
  font-family: var(--font-icon);
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: 0;
}
aside.article-share ul li, aside.follow ul li, nav.article-share ul li, nav.follow ul li {
  width: auto;
  margin-left: 0;
}
aside.article-share ul a, aside.follow ul a, nav.article-share ul a, nav.follow ul a {
  text-transform: inherit;
  padding: 0.3em;
  font-size: 1.1em;
}
aside.copyright h2, aside.copyright p, nav.copyright h2, nav.copyright p {
  text-align: center;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
nav label {
  align-self: stretch;
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: var(--fitz);
  justify-content: space-between;
}
nav label::after {
  display: block;
  text-align: right;
  font-family: var(--font-icon);
  content: "v";
}
nav label:hover {
  background: var(--color-key-lighter);
}
nav input {
  display: none;
}
nav input:checked ~ label::after {
  content: "^";
}
nav input:checked ~ ul {
  display: block;
}
nav ul {
  display: none;
  transform-origin: top;
  width: 100%;
  margin: 0;
}
nav ul li {
  margin: 0;
  padding: 0;
}
nav a {
  display: flex;
  --offset: 1em;
  padding: var(--fitz);
  flex-basis: 100%;
}
nav a::before, nav a::after {
  padding-top: 0.1em;
  content: " ";
  display: inline-block;
  width: var(--offset);
  flex: 0 0 var(--offset);
  font-family: var(--font-icon);
  text-align: center;
}
nav a[aria-selected=true] {
  font-weight: 700;
}
nav a[aria-selected=true]::before {
  content: ">";
}
nav a[aria-selected=true]::after {
  content: "<";
}
nav a[aria-current=true] {
  font-weight: 700;
}
@media (min-width: 48em) {
  nav label::after {
    font-family: var(--font-icon);
    content: "^";
  }
  nav input:checked ~ label::after {
    content: "v";
  }
  nav input:checked ~ ul {
    display: none;
  }
  nav ul {
    display: block;
  }
}

/* sections *****************************/
.asides {
  grid-area: asides;
}
.asides > aside {
  padding: var(--fitz);
  margin: var(--fitz);
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

/* sections/main *****************************/
main {
  grid-area: main;
}

/* templates/_default *****************************/
body {
  color: var(--color);
  background: var(--color-key-lighter);
  padding: var(--fitz);
  display: flex;
  flex-flow: column nowrap;
}
body > * {
  background: var(--bg);
  margin: var(--fitz);
  padding: var(--fitz);
}
body > * > * {
  background: var(--bg);
  margin: var(--fitz);
  padding: var(--fitz);
}
body > header {
  display: flex;
  flex-flow: row wrap;
}
body > header > .logo {
  flex: 1;
}
body > header > .logo a {
  display: block;
  padding: var(--fitz);
}
body > header > .logo a img {
  height: 3em;
  margin: 0.5em auto;
}
body > header > .logo a h1 {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  text-align: center;
}
body > header > nav {
  order: 3;
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body > header > nav h1 {
  display: none;
}
body > header > nav label::after {
  width: 100%;
  text-align: center;
}
body > header > nav ul {
  flex-flow: row wrap;
}
body > header > nav a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  justify-content: center;
}
body > header > .motto {
  flex: 1;
  padding: var(--fitz);
}
body > header > .motto p {
  font-size: 0.8em;
  text-align: center;
}
body > main {
  display: flex;
  flex-flow: column nowrap;
}
body > main > article {
  padding: var(--fitz-2);
}
body > main > .collection {
  font-size: 0.9em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
}
body > main > .collection > * {
  background: var(--bg);
  margin: var(--fitz);
  padding: var(--fitz);
}
body > main > .collection > header {
  grid-row: 1;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
body > main > .collection > article.excerpt {
  display: flex;
  justify-content: space-between;
}
body > main > .collection > article.excerpt figure {
  max-width: 12em;
}
body > main > .collection > article.excerpt .content {
  display: none;
}
body > main > .collection > article.excerpt footer {
  display: none;
}
body > main > .collection.expand > article.excerpt {
  flex-flow: column nowrap;
}
body > main > .collection.expand > article.excerpt figure {
  max-width: none;
}
body > main > .collection.expand > article.excerpt .content {
  display: block;
}
body > main > .collection.expand > article.excerpt footer {
  display: flex;
}
body > main > .collection.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: black;
}
body > .asides {
  display: flex;
  flex-flow: column nowrap;
}
body > footer {
  display: flex;
  flex-flow: row wrap;
}
body > footer aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media (orientation: portrait) {
  body > header > nav > ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  body > header > nav > ul > li + li {
    margin-top: 0;
  }
}
@media (orientation: landscape) {
  body {
    display: grid;
    grid-template-areas: " header main " " asides main " " asides footer ";
    grid-template-columns: 16em 1fr;
    grid-template-rows: auto 1fr auto;
  }
  body > header {
    flex-flow: column nowrap;
    align-items: stretch;
  }
  body > header > .logo a img {
    height: 8em;
  }
  body > header > nav {
    order: 0;
    flex-flow: column nowrap;
    align-items: center;
  }
  body > .asides {
    flex-flow: column nowrap;
    align-items: stretch;
  }
  body > footer {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}
@media (orientation: landscape) and (min-height: 20em) {
  body > .logo a img {
    height: 2em;
  }
}
@media (min-width: 48em) and (orientation: portrait) {
  body > header > nav {
    order: 0;
    flex-basis: auto;
  }
  body > header > nav > ul {
    flex-flow: row wrap;
  }
  body > header > nav > ul > li {
    margin-top: 0;
  }
}
@media (min-width: 72em) and (orientation: landscape) {
  body {
    display: grid;
    grid-template-areas: " header main asides" " footer main asides";
    grid-template-columns: var(--col) 1fr var(--col);
  }
  body > header > nav > label {
    display: none;
  }
}

/* templates/article *****************************/
/* templates/article *****************************/
body.roman > main > article > .content {
  counter-reset: h1;
  counter-reset: h2;
  --indent: 2rem;
}
body.roman > main > article > .content h2 {
  font-size: 1.1em;
  counter-reset: h3;
  counter-increment: h2;
  margin-left: calc( 2 * var(--indent));
}
body.roman > main > article > .content h2::before {
  display: inline-block;
  width: var(--indent);
  margin-left: calc( -1 * var(--indent));
  content: counter(h2, upper-latin) ".";
}
body.roman > main > article > .content h2 ~ p, body.roman > main > article > .content h2 ~ ol, body.roman > main > article > .content h2 ~ ul {
  margin-left: calc( 2 * var(--indent));
}
body.roman > main > article > .content h1 {
  font-size: 1.1em;
  counter-reset: h2;
  counter-increment: h1;
  margin-left: var(--indent);
}
body.roman > main > article > .content h1::before {
  display: inline-block;
  width: var(--indent);
  margin-left: calc( -1 * var(--indent));
  content: counter(h1, upper-roman) ".";
}
body.roman > main > article > .content h1 ~ p, body.roman > main > article > .content h1 ~ ol, body.roman > main > article > .content h1 ~ ul {
  margin-left: var(--indent);
}

/*# sourceMappingURL=photon.css.map */
